/* Forum Categories */

.forum-section{
  margin-bottom:40px;

  display:flex;
  flex-direction:column;

  gap:20px;
}

.forum-category{
  background:#161616;

  border:1px solid #222;

  border-radius:18px;

  padding:25px;

  display:flex;

  justify-content:space-between;

  align-items:center;

  transition:0.3s;
}

.forum-category:hover{
  transform:translateY(-3px);

  border-color:#ff4f8b;
}

.forum-left{
  font-size:45px;
}

.forum-center{
  flex:1;

  margin-left:20px;
}

.forum-center h2{
  color:white;

  margin-bottom:8px;
}

.forum-center p{
  color:#999;
}

.forum-right{
  display:flex;
  flex-direction:column;

  gap:10px;

  color:#ff4f8b;

  font-weight:bold;
}
